<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="win-acme"
           Manufacturer="win-acme"
           Version="1.0.0.0"
           UpgradeCode="7847b566-01e3-4473-90e4-8fa6d040b7b7">
    <MediaTemplate EmbedCab="yes" />

    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <ui:WixUI Id="WixUI_InstallDir"
              InstallDirectory="INSTALLFOLDER" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
    </StandardDirectory>

    <Feature Id="Main">
      <Component Id="wacs_exe">
        <File Source="$(var.InstallerSource)/publish/wacs.exe" />
      </Component>
      <Component Id="settings_default_json">
        <File Source="$(var.InstallerSource)/settings.json" Name="settings_default.json" />
      </Component>
      <Component Id="public_suffix_list_dat">
        <File Source="$(var.InstallerSource)/public_suffix_list.dat" />
      </Component>
      <Component Id="Web_Config_xml">
        <File Source="..\..\dist\Web_Config.xml"></File>
      </Component>
    </Feature>

    <Feature Id="Scripts">
      <ComponentGroupRef Id="Scripts" />
    </Feature>
  </Package>
</Wix>
